revashare-svc-webapi/revashare-svc-webapi.Tests/Service References/RevaShareServiceReference/RevaShareDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RevaShareDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ec2-34-193-194-23.compute-1.amazonaws.com/TeamDB-RevaShare/RevaShareDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ec2-34-193-194-23.compute-1.amazonaws.com/TeamDB-RevaShare/RevaShareDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ec2-34-193-194-23.compute-1.amazonaws.com/TeamDB-RevaShare/RevaShareDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RevaShare.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRevaShareDataService_passRide_InputMessage">
    <wsdl:part name="parameters" element="tns:passRide" />
  </wsdl:message>
  <wsdl:message name="IRevaShareDataService_passRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:passRideResponse" />
  </wsdl:message>
  <wsdl:message name="IRevaShareDataService_passUser_InputMessage">
    <wsdl:part name="parameters" element="tns:passUser" />
  </wsdl:message>
  <wsdl:message name="IRevaShareDataService_passUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:passUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRevaShareDataService_passRideRider_InputMessage">
    <wsdl:part name="parameters" element="tns:passRideRider" />
  </wsdl:message>
  <wsdl:message name="IRevaShareDataService_passRideRider_OutputMessage">
    <wsdl:part name="parameters" element="tns:passRideRiderResponse" />
  </wsdl:message>
  <wsdl:portType name="IRevaShareDataService">
    <wsdl:operation name="passRide">
      <wsdl:input wsaw:Action="http://tempuri.org/IRevaShareDataService/passRide" message="tns:IRevaShareDataService_passRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRevaShareDataService/passRideResponse" message="tns:IRevaShareDataService_passRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="passUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRevaShareDataService/passUser" message="tns:IRevaShareDataService_passUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRevaShareDataService/passUserResponse" message="tns:IRevaShareDataService_passUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="passRideRider">
      <wsdl:input wsaw:Action="http://tempuri.org/IRevaShareDataService/passRideRider" message="tns:IRevaShareDataService_passRideRider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRevaShareDataService/passRideRiderResponse" message="tns:IRevaShareDataService_passRideRider_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRevaShareDataService" type="tns:IRevaShareDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="passRide">
      <soap:operation soapAction="http://tempuri.org/IRevaShareDataService/passRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passUser">
      <soap:operation soapAction="http://tempuri.org/IRevaShareDataService/passUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passRideRider">
      <soap:operation soapAction="http://tempuri.org/IRevaShareDataService/passRideRider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RevaShareDataService">
    <wsdl:port name="BasicHttpBinding_IRevaShareDataService" binding="tns:BasicHttpBinding_IRevaShareDataService">
      <soap:address location="http://ec2-34-193-194-23.compute-1.amazonaws.com/TeamDB-RevaShare/RevaShareDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>